---
const { social } = Astro.props;
---

<ul class="w-full flex flex-col px-5 gap-3 text-center sm:px-10">
  <li
    class="bg-grey p-3 w-full rounded-lg text-md font-bold text-white hover:cursor-pointer hover:bg-green hover:text-offBlack transition-all ease-in-out"
  >
    {social}
  </li>
</ul>
